{%extends "base.html"%}
{% block block_page%}
blog_name
{% endblock %}

{%block body_content %}
    <ul>
        {% for b in blog %} 
            <li><a href = "{% url 'blog-posts' blog=b %}">{{b|capfirst}}</a></li> 
        {% endfor %}
    </ul>
{% endblock %}

{% comment %}
This file is creating the url of your blogs, line no. 11 is
the main function or content to make the link of the url.
Basically we are listing are all the blog pages on this page through the links 
We have also use the special Django Template Lnaguage(for loop)-> in line no.10.
{% endcomment %}
