{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel = "stylesheet" href = "{% static 'blogs/posts.css' %}">
{% endblock %}

{% block block_page%}
Blog post home page
{% endblock %}

{% block body_content%}
    <section>
        <header>
            <h1>Welcome to my first website project home page templates. </h1>
            <h2>I am learning python Django from the TuteDude paltform. </h2> 
            <h3>About Me </h3>
        <p>I am a begginer in the python, i am studying in the 11th standard and learning python also.</p>
            <img src = "{% static 'blogs/images/author.jpg'%}" alt = "Author"/>
        </header>
    </section>
    <section>
        <h1> Featured Post</h1>
            <ul>
                {% for blog in latest_blog %} 
                    <li>
                        <artical>
                            <a href = "{% url 'blog-posts' blog=blog.slug %}">{{blog.title|capfirst}}</a>
                            <img src ="{% static 'blogs/images/'|add:blog.image%}" alt="{{blog.title}}" />
                            <div>
                                <p>{{ blog.preview }}</p>
                            </div>
                        </artical>
                    </li> 
                {% endfor %}
            </ul>
    </section>
    <section>

    </section>
{% endblock %}
