{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel = "stylesheet" href = "{% static 'blogs/posts.css' %}">
{% endblock %}

{% block block_page%}
Blog post home page
{% endblock %}

{% block body_content%}

    <header>
    <h1><a href = "" ></a1>HOME PAGE  </h1>
        <nav>
            <a href =" ">ALL-POSTS</a>
        </nav>
    </header>
    <section>
        <header>
            <h1>Welcome to my first website project home page templates. </h1>
            <h2>I am learning python Django from the TuteDude paltform. </h2>
            <img src = "{% static 'blogs/images/author.jpg'%}" alt = "Author"/>
        </header>
    </section>
    <section>
        <h1> Featured Post</h1>
        <ul>
            <li> 
                <artical>
                    <a href = "">
                        <img src ="{% static 'blogs/images/python.jpg'%}" alt="Python" />
                        <div>
                            <h2> Python Intro </h2>
                        </div>
                        <p>Python is a high level programming language. It is begginer friendly language.</p>
                    </a>
                </artical>
            </li>
            <li> 
                <artical>
                    <a href = "">
                        <img src ="{% static 'blogs/images/django.jpg'%}" alt="Django" />
                        <div>
                            <h2> Django Basics</h2>
                        </div>
                        <p> Django is the language which is used for the webdevelopment .</p>
                    </a>
                </artical>
            </li>
        </ul>
    </section>
    <section>
        <h1>About Me </h1>
        <p>I am a begginer in the python, i am studying in the 11th standard and learning python also.
        By the way i am gentleman and also a handsome man and ofcourse i have a good charachter.
        </p>

    </section>
{% endblock %}
